.main-button{
    background-color: $maincolor;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    min-width: 150px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    &:hover{
        background-color: #3997c2;
    }
}

.secound-button{
    background-color: rgb(255, 166, 0);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    min-width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    &:hover{
        background-color: rgb(221, 155, 31);
    }
}

.toggle-menu {
    margin-top: 10px;
    background-color: $maincolor;
    border: none;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: none; 
    @media (max-width : 767px){
        display: block;
    }
    &:focus{
        outline : none;
    }
    span{
        display: block;
        width: 50px;
        height: 2px;
        background-color: #fff;
        &:not(:last-child){
            margin-bottom: 3px;
        }
    }
}