$minSamll : ("min-width : 768px");
$minmediam : ("min-width : 992px");
$minlarge : ("min-width : 1200px");
    
$maxMobile : ("max-width : 767px");
$maxSmall : ("max-width : 991px");

$maincolor : #49c3e2;
$secoundcolor : #2c99cc;
$textcolor : #333; 
$headingcolor : #222;


$floatLeft : left;
$floatRight : right;
$text-right: right;
$text-left : left;