.header{
    overflow: hidden;
    border-bottom: 1px solid $secoundcolor;
    background-image: linear-gradient(to right , #49c3e2 , #2c99cc);
    .logo{
        position: relative;
        @media (min-width : 768px){
            width: 100%;
            float: none;
            text-align: center;
        }
        @media (min-width : 992px){
            float : $floatLeft;
            width : 25%;
            text-align: $text-left;
        }
        
        h1{
            margin-top: 5px;
            margin-bottom: 0;
            color: #fff;
        }
        p{
            color: #fff;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    
    .main-nav{
        overflow: hidden;
        border-radius: 15px;
        @media (min-width : 768px){
            width: 100%;
            float: none;
            text-align: center;
            margin-top: 40px;
            display: block !important;
        }
        @media (min-width : 992px){
            float : $floatLeft;
            width : 75%;
            margin-top: 0;
        }
        @media (max-width : 767px){
            display: none;
            border-radius: 0;
        }
        li{
            float : right;
            font-size: 20px;
            text-align: center;
            @media (min-width : 992px){
                margin-right: 20px;
            }
            @media (max-width : 991px){
                width: 20%;
            }
            @media (max-width : 767px){
                display: block;
                float: none;
                text-align: left;
                width : 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
            a
            {
                display: block;
                padding: 20px 10px;
                color: #fff;
                text-decoration: none;
                transition: all 0.4s ease-in-out;
                &.active,
                &:hover{
                    color: $secoundcolor;
                }
            }
        }
    }
    
}